.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

html{
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
header{
  margin: 20px;
  max-width: 600px;
  display: block;
}
header b, li{
  color: white;

}

header ul li p{
  text-align: left;
}

main {
  border: solid 3px;
}

hr{
  border: 2px solid black;
  background-color:black;
}
#tabs {
  display: flex;
  justify-content: center;
}

#outerbox > div.cgpa.block > div:nth-child(1), #outerbox > div.gpa.block > div:nth-child(1){
  display: flex;
  justify-content: center;
}
.cgpa div b{
  padding: 0px;
}

#radio{
  margin: 0px;
}
#radio > b{
  padding-left: 0px;
  padding-right: 0px;
}
#outerbox{
  margin: 5px;
}

#cgpaTable, #gpaTable {
    margin-top: 10px;
    padding-top: 20px;
    border-radius: 5px;
  }



