.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

html{
    text-align: center;
    margin: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
    margin: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
header{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 10%;
  display: block;
}
header b, p{
  color: white;

}

#tabs {
  display: flex;
  justify-content: center;

}

#outerbox{
  margin: 5px;
}

#cgpaTable {
    margin-top: 10px;
  }



